img {
  width: 250px;
  vertical-align: text-top;
  display: inline-grid;
  align-items: baseline;
}

body {
  background-color: LightGrey
}


body {
  display: inline-block;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  vertical-align: text-bottom;

}

h1 {
  color: SlateBlue;
  font-size: 25px;
}

/* taken and modified from www.w3schools.com's css section */
input[type=text], select {
  width: 50%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: SlateBlue;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="file"]{
  width: 25%;
  padding: 2px 2px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
}
